body {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  background-color: #f2e9d8;
  height: 102px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

h1 {
  clip-path: polygon(0 0, 0 0, 0 0);
}

.logo {
  width: 130px;
  height: 40px;
  padding: 31px 756px 31px 16.67%;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  height: 20px;
  width: 205px;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #d97652;
  color: #fff;
  border-radius: 40px;
  width: 140px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding: 15px 32px;
  box-sizing: border-box;
}

header .button {
  margin: 26px 16.67% 26px 49px;
}

/* Download Section Styles */
.download {
  background-color: #f2e9d8;
  height: 798px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.download-div {
  display: flex;
  flex-direction: column;
  padding-left: 16.67%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.download .title {
  padding-top: 200px;
}

.download .content {
  padding-top: 40px;
}

.download .button {
  margin-top: 40px;
}

.background-img {
  width: 415px;
  height: 766px;
  margin: 32px 0 0 170px;
  padding-right: 16.67%;
}

/* Section 2 Styles */
.section2 {
  display: flex;
}

.section2 img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.25);
  padding: 80px 0 0 16.67%;
}

.section2 div {
  display: flex;
  flex-direction: column;
  padding-left: 110px;
}

.section2 .title {
  font-size: 36px;
  line-height: 45px;
  padding: 172px 16.67% 30px 0;
}

/* Image Show More Section */
.image-show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
}

.image-show-more .title,
.dummy-text {
  font-weight: 700;
  color: #d97652;
}

.image-show-more .content {
  padding-top: 40px;
  text-align: center;
}

.images1,
.images2 {
  display: flex;
  justify-content: space-between;
  width: 1280px;
}

.images1 img,
.images2 img {
  width: 388px;
  height: 388px;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.25);
}

.images1 {
  margin-top: 88px;
}

.continue {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 100px;
}

.image-show-more .button {
  margin-top: 28px;
  padding: 15px 29px;
}

/* Map Section */
.map {
  width: 1280px;
  margin: 80px 16.67% 0 16.67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #c4c4c4;
}

.map .title {
  font-size: 36px;
  line-height: 45px;
  padding: 68px 0 20px;
}

.map .content {
  font-weight: 500;
  color: #606367;
  padding-bottom: 48px;
}

#map {
  width: 1280px;
  height: 520px;
}

/* Submit Email Section */
.submit-email {
  position: relative;
  margin-top: 80px; 
}

.submit-box {
  background-color: #263140;
  border-radius: 30px;
  width: 1280px;
  height: 200px;
  margin: 0 16.67%;
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
}

.submit-text {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 58px;
}

.submit-box .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 18px;
}

.submit-box .content {
  font-size: 14px;
}

.submit {
  background-color: #fff;
  width: 530px;
  height: 60px;
  border-radius: 60px;
  margin: 69px 58px 71px 163px;
  display: flex;
  align-items: center;
}

.submit img {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

input {
  width: 184px;
  height: 20px;
  margin: 20px 137px 20px 16px;
  padding-block: 0;
  padding-inline: 0;
  border: none;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.submit .button {
  width: 135px;
  padding: 15px 29px;
}

.background-img2 {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 340px;
}

/* Footer Styles */
footer {
  padding: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

footer .logo {
  padding: 285px 816px 45px 16.67%;
}

footer img:not(.logo) {
  width: 42px;
  height: 42px;
  padding: 288px 10px 60px;
}

/* Scroll Top Button Styles */
#top-btn { 
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #C4C4C4;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#top-btn img {
  width: 20px;
  height: 12.35px;
  padding-top: 2px;
}

#top-btn:hover img {
  content: url('./img/scroll-btn-aft.png');
}