body {
  font-family: "pretendard", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  background-color: #f2e9d8;
  height: 102px;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  clip-path: polygon(0 0, 0 0, 0 0);
}

.logo {
  padding-left: 16.67%;
}

.logo img {
  width: 130px;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 39.375%;
}

ul {
  height: 20px;
  width: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: #d97652;
  color: #fff;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  padding: 15px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

header .button {
  margin-left: 49px;
}

/* Download Section Styles */
.download {
  background-color: #f2e9d8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.download-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 16.67%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.download .content {
  padding-top: 40px;
}

.download .button {
  margin-top: 40px;
}

.background-img {
  width: 100%;
  max-width: 415px;
  height: auto;
  margin-left: 8.4%;
  padding-right: 16.67%;
}

/* Section 2 Styles */
.section2 {
  display: flex;
  justify-content: center;
}

.section2 img {
  width: 100%;
  max-width: 660px;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.25);
  padding: 80px 0 0 16.67%;
}

.section2 div {
  display: flex;
  flex-direction: column;
  padding-left: 5.21%;
  flex: 1;
}

.section2 .title {
  font-size: 36px;
  line-height: 45px;
  padding: 172px 16.67% 30px 0;
}

/* Image Show More Section */
.image-show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
}

.image-show-more .title,
.dummy-text,
.modal .title {
  font-weight: 700;
  color: #d97652;
}

.image-show-more .content {
  padding-top: 40px;
  text-align: center;
}

.images1,
.images2 {
  display: flex;
  justify-content: space-between;
  width: 1280px;
}

.images1 img,
.images2 img {
  width: 388px;
  height: 388px;
  border-radius: 30px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.25);
}

.images1 {
  margin-top: 88px;
}

.continue {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 100px;
}

.image-show-more .button {
  margin-top: 28px;
  padding: 15px 29px;
}

/* Map Section */
.map {
  width: 66.67%;
  margin: 80px 16.67% 0 16.67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #c4c4c4;
}

.map .title {
  font-size: 36px;
  line-height: 45px;
  padding: 68px 0 20px;
}

.map .content {
  font-weight: 500;
  color: #606367;
  padding-bottom: 48px;
}

#map {
  width: 100%;
  height: 520px;
}

/* Submit Email Section */
.submit-email {
  position: relative;
  margin-top: 80px;
}

.submit-box {
  background-color: #263140;
  border-radius: 30px;
  width: 80%;
  max-width: 1280px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.submit-text {
  display: flex;
  flex-direction: column;
  padding-left: 58px;
  flex: 1 1 300px;
  min-width: 200px;
  word-wrap: break-word;
}

.submit-box .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  padding-bottom: 18px;
}

.submit-box .content {
  font-size: 14px;
}

.subscribe-form {
  background-color: #fff;
  width: auto;
  max-width: 530px;
  height: 60px;
  border-radius: 60px;
  margin: 0 58px 0 30px;
  display: flex;
  align-items: center;
  flex: 1 1 300px;
  min-width: 200px;
  word-wrap: break-word;
}

.subscribe-form img {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

input {
  width: 100%;
  margin: 0 16px;
  padding: 0;
  border: none;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.subscribe-form .button {
  width: 135px;
  padding: 15px 29px;
  margin-right: 6px;
}

.background-img2 {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 340px;
}

/* Modal Styles */
.modal {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./img/modal_background.png");
  background-size: cover;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 30px 0px #00000033;
  z-index: 1000;
}

.hidden {
  display: none;
}

.modal img {
  width: 110px;
  height: 112px;
  padding-top: 60px;
}

.modal .title {
  padding: 24px 0 12px;
}

.modal .content {
  color: #000;
  line-height: 18px;
  padding-bottom: 38px;
}

.modal .button {
  width: 183px;
  padding: 15px 25px;
  letter-spacing: 0.01em;
}

/* Footer Styles */
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  position: relative;
  padding-top: 250px;
  height: 160px;
}

footer .logo {
  padding: 0 42.03% 45px 16.67%;
  width: 226px;
  height: 70px;
}

footer img:not(.logo) {
  width: 42px;
  height: 42px;
  padding: 0 10px 60px;
}

/* Scroll Top Button Styles */
#top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #c4c4c4;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#top-btn img {
  width: 20px;
  height: 12.35px;
  padding-top: 2px;
}

#top-btn:hover img {
  content: url("./img/scroll-btn-aft.png");
}
